<div class="modal-content">
    <h1>Add employee</h1>

    <!-- Input fields. -->
    <table>
        <tbody>
            <tr>
                <td><label for="employee-username">Username</label></td>
                <td>:</td>
                <td><input id="employee-username" [(ngModel)]="employeeBefore.username"></td>
                <td *ngIf="!isNotEmpty(employeeBefore.username)" class="warning">
                    Username should be filled.
                </td>
            </tr>


            <tr>
                <td><label for="employee-first-name">First name</label></td>
                <td>:</td>
                <td><input id="employee-first-name" [(ngModel)]="employeeBefore.firstName"></td>
                <td *ngIf="!isNotEmpty(employeeBefore.firstName)" class="warning">
                    First name should be filled.
                </td>
            </tr>

            <tr>
                <td><label for="employee-last-name">Last name</label>
                </td>
                <td>:</td>
                <td><input id="employee-last-name" [(ngModel)]="employeeBefore.lastName"></td>
                <td *ngIf="!isNotEmpty(employeeBefore.lastName)" class="warning">
                    Last name should be filled.
                </td>
            </tr>

            <tr>
                <td><label for="employee-email">Email</label></td>
                <td>:</td>
                <td><input id="employee-email" [(ngModel)]="employeeBefore.email"></td>
                <td *ngIf="!isEmail(employeeBefore.email)" class="warning">
                    Email format should be valid.
                </td>
            </tr>

            <tr>
                <td><label for="employee-birth-date">Birthdate</label></td>
                <td>:</td>
                <td><input id="employee-birth-date" [(ngModel)]="employeeBefore.birthDate" type="date"></td>
                <td *ngIf="!isNotTomorrow(employeeBefore.birthDate)" class="warning">
                    Birthdate should be no later than today.
                </td>
            </tr>

            <tr>
                <td><label for="employee-basic-salary">Basic salary</label></td>
                <td>:</td>
                <td><input id="employee-basic-salary" [(ngModel)]="employeeBefore.basicSalary"></td>
                <td *ngIf="!isNumber(employeeBefore.basicSalary)" class="warning">
                    Basic salary should be numeric.
                </td>
            </tr>


            <tr>
                <td><label for="employee-status">Status</label>
                </td>
                <td>:</td>
                <td><input id="employee-status" [(ngModel)]="employeeBefore.status"></td>
                <td *ngIf="!isNotEmpty(employeeBefore.status)" class="warning">
                    Status should be filled.
                </td>
            </tr>

            <tr>
                <td><label for="employee-group">Group</label></td>
                <td>:</td>
                <td>
                    <ng-select id="employee-group" [(ngModel)]="employeeBefore.group" (clear)="unsetDepartment()">
                        <ng-option *ngFor="let n of getDepartmentList()" [value]="n">{{n}}</ng-option>
                    </ng-select>
                </td>
                <td *ngIf="!isNotEmpty(employeeBefore.group)" class="warning">
                    Group should be chosen.
                </td>
            </tr>


            <tr>
                <td><label for="employee-description">Description</label></td>
                <td>:</td>
                <td><input id="employee-description" [(ngModel)]="employeeBefore.description" type="date"></td>
                <td *ngIf="employeeBefore.description == null" class="warning">
                    Description date should be filled.</td>
            </tr>

        </tbody>
    </table>

    <!-- Button. -->
    <div>
        <button *ngIf="
                    employeeBefore.username.length >= 1
                    && employeeBefore.firstName.length >= 1
                    && employeeBefore.lastName.length >= 1
                    && isEmail(employeeBefore.email)
                    && isNotTomorrow(employeeBefore.birthDate)
                    && isNumber(employeeBefore.basicSalary)
                    && employeeBefore.status.length >= 1
                    && employeeBefore.group.length >= 1
                    && employeeBefore.description != null
                " class="done-button" (click)="createEmployee(employeeBefore)">Save</button>
        <button class="done-button" (click)="createEmployee(null)">Cancel</button>
    </div>
</div>