h1,
h2,
h3,
input,
label,
li,
p,
tbody,
thead {
    font-family: Arial, Helvetica, sans-serif;
}

.done-button {
    border: none;
    border-radius: 8px;
    font-size: 18pt;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #FFE000;
    margin-top: 16px;
    margin-bottom: 6px;
}

.done-button:hover,
.done-button:focus {
    background-color: #ffff20;
    cursor: pointer;
}



.modal-content {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #ffffff;
    padding: 16px;
    border: none;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.modal-content td {
    padding: 5px;
}

.modal-content label {
    margin-right: 10px;
}

label,
input,
select {
    font-size: larger;
    width: 256px;
}

input, select {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #E0F0FF;
}


.modal-content h2,
.modal-content h1 {
    margin-top: 6px;
    margin-bottom: 16px;
    width: 100%;
    text-align: left;
}



table {
    border-collapse: collapse;
}



.warning {
    color: #ff4040;
    font-style: italic;
}