<div *ngIf="employeeBefore">
    <div class="modal">
        <div class="modal-content">
            <h2>Create new employee</h2>

            <!-- Input fields. -->
            <table>
                <tbody>
                    <tr>
                        <td><label for="employee-username">Username</label></td>
                        <td>:</td>
                        <td><input id="employee-username" [(ngModel)]="employeeBefore.username"></td>
                    </tr>
                    <tr *ngIf="!isNotEmpty(employeeBefore.username)" class="warning">
                        <td></td>
                        <td></td>
                        <td>Username should be filled.</td>
                    </tr>

                    <tr>
                        <td><label for="employee-first-name">First name</label></td>
                        <td>:</td>
                        <td><input id="employee-first-name" [(ngModel)]="employeeBefore.firstName"></td>
                    </tr>
                    <tr *ngIf="!isNotEmpty(employeeBefore.firstName)" class="warning">
                        <td></td>
                        <td></td>
                        <td>First name should be filled.</td>
                    </tr>

                    <tr>
                        <td><label for="employee-last-name">Last name</label>
                        </td>
                        <td>:</td>
                        <td><input id="employee-last-name" [(ngModel)]="employeeBefore.lastName"></td>
                    </tr>
                    <tr *ngIf="!isNotEmpty(employeeBefore.lastName)" class="warning">
                        <td></td>
                        <td></td>
                        <td>Last name should be filled.</td>
                    </tr>

                    <tr>
                        <td><label for="employee-email">Email</label></td>
                        <td>:</td>
                        <td><input id="employee-email" [(ngModel)]="employeeBefore.email"></td>
                    </tr>
                    <tr *ngIf="!isEmail(employeeBefore.email)" class="warning">
                        <td></td>
                        <td></td>
                        <td>Email format should be valid.</td>
                    </tr>

                    <tr>
                        <td><label for="employee-birth-date">Birthdate</label></td>
                        <td>:</td>
                        <td><input id="employee-birth-date" [(ngModel)]="employeeBefore.birthDate" type="date"></td>
                    </tr>
                    <tr *ngIf="!isNotTomorrow(employeeBefore.birthDate)" class="warning">
                        <td></td>
                        <td></td>
                        <td>Birthdate should be no later than today.</td>
                    </tr>

                    <tr>
                        <td><label for="employee-basic-salary">Basic salary</label></td>
                        <td>:</td>
                        <td><input id="employee-basic-salary" [(ngModel)]="employeeBefore.basicSalary"></td>
                    </tr>
                    <tr *ngIf="!isNumber(employeeBefore.basicSalary)" class="warning">
                        <td></td>
                        <td></td>
                        <td>Basic salary should be numeric.</td>
                    </tr>

                    <tr>
                        <td><label for="employee-status">Status</label>
                        </td>
                        <td>:</td>
                        <td><input id="employee-status" [(ngModel)]="employeeBefore.status"></td>
                    </tr>
                    <tr *ngIf="!isNotEmpty(employeeBefore.status)" class="warning">
                        <td></td>
                        <td></td>
                        <td>Status should be filled.</td>
                    </tr>

                    <tr>
                        <td><label for="employee-group">Group</label></td>
                        <td>:</td>
                        <td>
                            <select id="employee-group" [(ngModel)]="employeeBefore.group">
                                <option value="">Select the group</option>
                                <option *ngFor="let n of departmentList" [ngValue]="n">{{n}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr *ngIf="!isNotEmpty(employeeBefore.group)" class="warning">
                        <td></td>
                        <td></td>
                        <td>Group should be chosen.</td>
                    </tr>

                    <tr>
                        <td><label for="employee-description">Description</label></td>
                        <td>:</td>
                        <td><input id="employee-description" [(ngModel)]="employeeBefore.description" type="date"></td>
                    </tr>
                    <tr *ngIf="employeeBefore.description == null" class="warning">
                        <td></td>
                        <td></td>
                        <td>Description date should be filled.</td>
                    </tr>
                </tbody>
            </table>

            <!-- Button. -->
            <div>
                <button *ngIf="
                    employeeBefore.username.length >= 1
                    && employeeBefore.firstName.length >= 1
                    && employeeBefore.lastName.length >= 1
                    && isEmail(employeeBefore.email)
                    && isNotTomorrow(employeeBefore.birthDate)
                    && isNumber(employeeBefore.basicSalary)
                    && employeeBefore.status.length >= 1
                    && employeeBefore.group.length >= 1
                    && employeeBefore.description != null
                " class="done-button" (click)="createEmployee(employeeBefore)">Save</button>
                <button class="done-button" (click)="createEmployee(null)">Cancel</button>
            </div>
        </div>
    </div>
</div>