<!-- CREATE the employee. -->
<div *ngIf="employeeCreated">
    <app-employee-create [isEmployeeBeingCreated]="employeeCreated"
        (employeeAfter)="createEmployee($event)"></app-employee-create>
</div>

<!-- UPDATE the employee. -->
<div *ngIf="employeeUpdated">
    <app-employee-update [employeeBefore]="employeeUpdated"
        (employeeAfter)="updateEmployee($event)"></app-employee-update>
</div>

<div *ngIf="employeeRead">
    <app-employee-read [employeeRead]="employeeRead" (employeeUnread)="readEmployee($event)"></app-employee-read>
</div>

<!-- DELETE the employee. -->
<div *ngIf="employeeDeletedAlert" class="modal">
    <div class="modal-alert">
        <p>You are about to delete this employee. Proceed?</p>
        <div>
            <button class="proceed-button" (click)="deleteEmployee(employeeDeleted)">Yes</button>
            <button class="proceed-button" (click)="deleteEmployee(null)">No</button>
        </div>
    </div>
</div>



<!-- Paging and add buttons. -->
<button class="add-button" type="button" (click)="createEmployeeBegins()">Add new employee</button>
<!-- Count. -->
<div class="count">
    <div class="paging">
        Showing {{filterEmployeeList(employeeFiltered).length}}
        of {{employeeList.length}} data. Page {{currentPage}} of {{lastPage}}.
        Click the row to see its details.
    </div>
    <div class="paging">
        Show
        <select class="paging-select" [(ngModel)]="expectedPageSize">
            <option class="paging-select-option" value="6">6</option>
            <option value="10" value="10" [defaultSelected]="true">10</option>
            <option value="12" value="12">12</option>
            <option value="20" value="20">20</option>
            <option value="30" value="30">30</option>
            <option value="60" value="60">60</option>
        </select>
        rows.
        <button class="paging-button" (click)="toPreviousPage(true)">«</button>
        <button class="paging-button" (click)="toPreviousPage()">‹</button>
        <button class="paging-button" *ngFor="let i of pageNumberList()" (click)="toPage(i)">{{i}}</button>
        <button class="paging-button" (click)="toNextPage()">›</button>
        <button class="paging-button" (click)="toNextPage(true)">»</button>
    </div>
</div>



<!-- The main table. -->
<table class="table">
    <thead>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('username')">
                    <div>Username</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.username">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('name')">
                    <div>Name</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.firstName">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('email')">
                    <div>Email</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.email">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('status')">
                    <div>Status</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.status">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('group')">
                    <div>Group</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.group">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title">Actions</button>
                <input class="table-header-filler">
            </div>
        </td>
    </thead>
    <tbody *ngFor="let n of pageEmployeeList(employeeFiltered)">
        <tr>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.username}}</td>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.firstName}} {{n.lastName}}</td>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.email}}</td>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.status}}</td>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.group}}</td>
            <td>
                <button class="edit-button" [class.selected]="n === employeeUpdated" type="button"
                    (click)="updateEmployee(n)">Edit</button>
                <button class="delete-button" [class.selected]="n === employeeUpdated" type="button"
                    (click)="deleteEmployeeBegins(n)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

