<!-- CREATE the employee. -->
<div *ngIf="employeeCreated">
    <app-employee-create [isEmployeeBeingCreated]="employeeCreated" (employeeAfter)="createEmployee($event)"></app-employee-create>
</div>



<!-- UPDATE the employee. -->
<div *ngIf="employeeUpdated">
    <app-employee-update [employeeBefore]="employeeUpdated"
        (employeeAfter)="updateEmployee($event)"></app-employee-update>
</div>



<!-- Count. -->
<div class="count">
    Showing {{filterEmployeeList(employeeFiltered).length}}
    of {{employeeList.length}} data.
    <button class="add-button" type="button" (click)="createEmployeeBegins()">Add new employee</button>
</div>



<!-- The main table. -->
<table class="table">
    <thead>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('username')">
                    <div>Username</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.username">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('name')">
                    <div>Name</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.firstName">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('email')">
                    <div>Email</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.email">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('status')">
                    <div>Status</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.status">
            </div>
        </td>
        <td>
            <div class="table-header">
                <button class="table-header-title" (click)="sortEmployeeList('group')">
                    <div>Group</div>
                    <div *ngIf="employeeListSorting == null">⯁</div>
                    <div *ngIf="employeeListSorting == false">⯆</div>
                    <div *ngIf="employeeListSorting == true">⯅</div>
                </button>
                <input class="table-header-filter" [(ngModel)]="employeeFiltered.group">
            </div>
        </td>
        <td>
            <div class="table-header">
                <div>Actions</div>
            </div>
        </td>
    </thead>
    <tbody *ngFor="let n of filterEmployeeList(employeeFiltered)">
        <tr>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.username}}</td>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.firstName}} {{n.lastName}}</td>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.email}}</td>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.status}}</td>
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.group}}</td>
            <td>
                <button class="edit-button" [class.selected]="n === employeeUpdated" type="button"
                    (click)="updateEmployee(n)">Edit</button>
                <button class="delete-button" [class.selected]="n === employeeUpdated" type="button"
                    (click)="updateEmployee(n)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- READ employee. -->
<div *ngIf="employeeRead">
    <div class="edit-modal" (keypress)="readEmployee(employeeRead)">
        <div class="edit-modal-content">
            <!-- Title. -->
            <div class="edit-modal-content-title">
                <h2>
                    Details of
                    {{employeeRead.firstName}}
                    {{employeeRead.lastName}}
                </h2>
                <span class="close-button" type="button" (click)="readEmployee(employeeRead)">&times;</span>
            </div>
            <!-- Input fields. -->
            <table>
                <tbody>
                    <tr>
                        <td><label for="employee-username">Username</label></td>
                        <td>:</td>
                        <td><input id="employee-username" [(ngModel)]="employeeRead.username" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-first-name">First name</label></td>
                        <td>:</td>
                        <td><input id="employee-first-name" [(ngModel)]="employeeRead.firstName" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-last-name">Last name</label>
                        </td>
                        <td>:</td>
                        <td><input id="employee-last-name" [(ngModel)]="employeeRead.lastName" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-email">Email</label></td>
                        <td>:</td>
                        <td><input id="employee-email" [(ngModel)]="employeeRead.email" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-birth-date">Birthdate</label></td>
                        <td>:</td>
                        <td><input id="employee-birth-date" [(ngModel)]="employeeRead.birthDate" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-basic-salary">Basic salary</label></td>
                        <td>:</td>
                        <td><input id="employee-basic-salary" [(ngModel)]="employeeRead.basicSalary" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-status">Status</label>
                        </td>
                        <td>:</td>
                        <td><input id="employee-status" [(ngModel)]="employeeRead.status" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-group">Group</label></td>
                        <td>:</td>
                        <td><input id="employee-group" [(ngModel)]="employeeRead.group" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-description">Description</label></td>
                        <td>:</td>
                        <td><input id="employee-description" [(ngModel)]="employeeRead.description" readonly></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>