<app-employee-update [employeeUpdated]="employeeUpdated"></app-employee-update>

<!-- The main table. -->
<table class="table">
    <thead>
        <td (click)="sortEmployeeList('username')">
            <div class="table-header">
                Username
                <input type="text">
            </div>
        </td>
        <td (click)="sortEmployeeList('name')">
            <div class="table-header">
                Name
                <input type="text">
            </div>
        </td>
        <td (click)="sortEmployeeList('email')">
            <div class="table-header">Email
                <input type="text">
            </div>

        </td>
        <td>
            <div class="table-header">Actions
                <input type="text">
            </div>
        </td>
    </thead>
    <tbody *ngFor="let n of employeeList">
        <tr>
            <!-- Username. -->
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.username}}</td>

            <!-- Given name. -->
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.firstName}} {{n.lastName}}</td>

            <!-- Last name. -->
            <td [class.selected]="n === employeeUpdated" (click)="readEmployee(n)">{{n.email}}</td>

            <td>
                <button class="edit-button" [class.selected]="n === employeeUpdated" type="button"
                    (click)="updateEmployee(n)">Edit</button>
                <button class="delete-button" [class.selected]="n === employeeUpdated" type="button"
                    (click)="updateEmployee(n)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- READ employee. -->
<div *ngIf="employeeRead">
    <div class="edit-modal" (keypress)="readEmployee(employeeRead)">
        <div class="edit-modal-content">
            <!-- Title. -->
            <div class="edit-modal-content-title">
                <h2>
                    Details of
                    {{employeeRead.firstName}}
                    {{employeeRead.lastName}}
                </h2>
                <span class="close-button" type="button" (click)="readEmployee(employeeRead)">&times;</span>
            </div>

            <!-- Input fields. -->
            <table>
                <tbody>
                    <tr>
                        <td><label for="employee-username">Username</label></td>
                        <td>:</td>
                        <td><input id="employee-username" [(ngModel)]="employeeRead.username" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-first-name">First name</label></td>
                        <td>:</td>
                        <td><input id="employee-first-name" [(ngModel)]="employeeRead.firstName" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-last-name">Last name</label>
                        </td>
                        <td>:</td>
                        <td><input id="employee-last-name" [(ngModel)]="employeeRead.lastName" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-email">Email</label></td>
                        <td>:</td>
                        <td><input id="employee-email" [(ngModel)]="employeeRead.email" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-birth-date">Birthdate</label></td>
                        <td>:</td>
                        <td><input id="employee-birth-date" [(ngModel)]="employeeRead.birthDate" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-basic-salary">Basic salary</label></td>
                        <td>:</td>
                        <td><input id="employee-basic-salary" [(ngModel)]="employeeRead.basicSalary" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-status">Status</label>
                        </td>
                        <td>:</td>
                        <td><input id="employee-status" [(ngModel)]="employeeRead.status" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-group">Group</label></td>
                        <td>:</td>
                        <td><input id="employee-group" [(ngModel)]="employeeRead.group" readonly></td>
                    </tr>
                    <tr>
                        <td><label for="employee-description">Description</label></td>
                        <td>:</td>
                        <td><input id="employee-description" [(ngModel)]="employeeRead.description" readonly></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- UPDATE employee. -->
<div *ngIf="employeeUpdated">
    <div class="edit-modal" (keypress)="updateEmployee(employeeUpdated)">
        <div class="edit-modal-content">
            <!-- Title. -->
            <div class="edit-modal-content-title">
                <h2>
                    Edit this employee
                </h2>
                <span class="close-button" type="button" (click)="updateEmployee(employeeUpdated)">&times;</span>
            </div>

            <!-- Input fields. -->
            <table>
                <tbody>
                    <tr>
                        <td><label for="employee-username">Username</label></td>
                        <td>:</td>
                        <td><input id="employee-username" [(ngModel)]="employeeUpdated.username"></td>
                    </tr>
                    <tr>
                        <td><label for="employee-first-name">First name</label></td>
                        <td>:</td>
                        <td><input id="employee-first-name" [(ngModel)]="employeeUpdated.firstName"></td>
                    </tr>
                    <tr>
                        <td><label for="employee-last-name">Last name</label>
                        </td>
                        <td>:</td>
                        <td><input id="employee-last-name" [(ngModel)]="employeeUpdated.lastName"></td>
                    </tr>
                    <tr>
                        <td><label for="employee-email">Email</label></td>
                        <td>:</td>
                        <td><input id="employee-email" [(ngModel)]="employeeUpdated.email"></td>
                    </tr>
                    <tr>
                        <td><label for="employee-birth-date">Birthdate</label></td>
                        <td>:</td>
                        <td><input id="employee-birth-date" [(ngModel)]="employeeUpdated.birthDate"
                                type="datetime-local"></td>
                    </tr>
                    <tr>
                        <td><label for="employee-basic-salary">Basic salary</label></td>
                        <td>:</td>
                        <td><input id="employee-basic-salary" [(ngModel)]="employeeUpdated.basicSalary"></td>
                    </tr>
                    <tr>
                        <td><label for="employee-status">Status</label>
                        </td>
                        <td>:</td>
                        <td><input id="employee-status" [(ngModel)]="employeeUpdated.status"></td>
                    </tr>
                    <tr>
                        <td><label for="employee-group">Group</label></td>
                        <td>:</td>
                        <td><input id="employee-group" [(ngModel)]="employeeUpdated.group"></td>
                    </tr>
                    <tr>
                        <td><label for="employee-description">Description</label></td>
                        <td>:</td>
                        <td><input id="employee-description" [(ngModel)]="employeeUpdated.description"
                                type="datetime-local"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>