div,
h1,
h2,
h3,
input,
label,
li,
p,
tbody,
thead {
    font-family: Arial, Helvetica, sans-serif;
}

.count {
    padding-bottom: 10px;
    font-size: 12pt;
}

.add-button,
.edit-button,
.delete-button {
    border: none;
    border-radius: 8px;
    font-size: 12pt;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 4px;
    margin-right: 4px;
}

.add-button {
    background-color: #C0FF00;
}

.add-button:hover,
.add-button:focus {
    background-color: #00FFC0;
    cursor: pointer;
}

.delete-button {
    background-color: #FF2000;
    color: white;
}

.delete-button:hover,
.deleye-button:focus {
    background-color: #0020FF;
    cursor: pointer;
}

.edit-button {
    background-color: #FFE000;
}

.edit-button:hover,
.edit-button:focus {
    background-color: #00E0FF;
    cursor: pointer;
}










.edit-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.25);
}

/* Modal Content/Box */
.edit-modal-content {
    background-color: #fefefe;
    margin: 6.25% auto;
    padding: 16px;
    border: none;
    border-radius: 16px;
    height: fit-content;
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.edit-modal-content td {
    padding: 5px;
}

.edit-modal-content label {
    margin-right: 10px;
}

.edit-modal-content label,
input {
    font-size: larger;
}

.edit-modal-content-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.edit-modal-content-title h2 {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
}

.table thead {
    background-color: black;
    color: white;
}

.table thead td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13.5pt;
}

.table tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12.5pt;
    width: 216px;
}

.table tbody tr:hover {
    background-color: #fff0e0;
}

.table-header {
    flex-direction: column;
    display: flex;
}

.table-header-filter {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12.5pt;
}

.table-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    font-size: 12.5pt;
    border: none;
    background: none;
    color: white;
}